/*to make it validate AA */
.content, #content {
  /* need to use .content as #content isn't used on snippets */ }
  .content .help, #content .help {
    width: auto;
    position: static;
    display: block;
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px; }
    .content .help:before, #content .help:before {
      margin-top: 0; }
  .content p.help::before, #content p.help::before {
    /* to give consistency between multifieldpanel help text and other panels */
    border-radius: 100%;
    display: block;
    float: left;
    content: '?';
    border: 1px solid #666;
    color: #666;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 1.1em;
    margin: 0.1em 0.5em 0 0; }
  .content .help.help, #content .help.help {
    opacity: 0.8; }
  .content input:focus, .content textarea:focus, .content select:focus, .content .richtext:focus, .content .taggit:focus, #content input:focus, #content textarea:focus, #content select:focus, #content .richtext:focus, #content .taggit:focus {
    background: white; }
  .content .richtext, #content .richtext {
    padding: 1em; }
    .content .richtext *:last-child, #content .richtext *:last-child {
      margin-bottom: 0; }
  .content .object, #content .object {
    padding-left: 20px;
    padding-right: 20px; }
    .content .object.empty, #content .object.empty {
      padding-left: 50px; }
    .content .object > fieldset, #content .object > fieldset {
      max-width: none;
      width: 100%; }
    .content .object > .help + fieldset, #content .object > .help + fieldset {
      padding-top: 0; }
  .content .full, #content .full {
    padding: 0 20px; }
    .content .full > fieldset, #content .full > fieldset {
      margin-left: 0;
      padding-top: 0; }
    .content .full input, #content .full input {
      padding-left: 7px;
      padding-right: 0;
      background: transparent;
      border: 0; }
    .content .full > .help + fieldset input, #content .full > .help + fieldset input {
      padding-top: 20px; }
  .content .sequence-member,
  .content .sequence-container,
  .content .sequence-container-inner,
  .content .fields,
  .content .field-content, #content .sequence-member,
  #content .sequence-container,
  #content .sequence-container-inner,
  #content .fields,
  #content .field-content {
    width: 100%; }
  .content .field-content > .help.help.help.help.help, #content .field-content > .help.help.help.help.help {
    padding-left: 3px;
    margin-top: 7px; }
  .content .stream-field.stream-field.stream-field.stream-field, #content .stream-field.stream-field.stream-field.stream-field {
    padding: 20px; }
    .content .stream-field.stream-field.stream-field.stream-field > fieldset, #content .stream-field.stream-field.stream-field.stream-field > fieldset {
      padding-top: 14px; }
    .content .stream-field.stream-field.stream-field.stream-field .sequence-member, #content .stream-field.stream-field.stream-field.stream-field .sequence-member {
      background: #f2f2f2;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      margin: 20px 0; }
      .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner {
        background-color: white; }
        .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner input, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner textarea, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner select, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .richtext, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .tagit, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner input, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner textarea, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner select, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .richtext, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .tagit {
          box-sizing: border-box;
          border-radius: 6px;
          width: 100%;
          font-family: Open Sans,Arial,sans-serif;
          border: 1px solid #e6e6e6 !important;
          padding: 0.9em 1.2em !important;
          background-color: #fafafa !important;
          -webkit-appearance: none;
          color: #333;
          font-size: 1.2em;
          font-weight: 300;
          outline: none; }
          .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner input:focus, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner textarea:focus, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner select:focus, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .richtext:focus, .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .tagit:focus, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner input:focus, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner textarea:focus, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner select:focus, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .richtext:focus, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member-inner .tagit:focus {
            background-color: white !important;
            border-color: #54d0d0 !important; }
      .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member {
        background: white; }
        .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member {
          background: #f2f2f2; }
          .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member {
            background: white; }
            .content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member .sequence-member, #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member .sequence-member {
              background: #f2f2f2; }
    .content .stream-field.stream-field.stream-field.stream-field .sequence-member-inner, #content .stream-field.stream-field.stream-field.stream-field .sequence-member-inner {
      padding: 20px; }
    .content .stream-field.stream-field.stream-field.stream-field .sequence-controls, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls {
      background: #e6e6e6;
      border: none;
      opacity: 1;
      visibility: visible;
      position: static;
      border-radius: 0;
      display: flex;
      justify-content: flex-end; }
      .content .stream-field.stream-field.stream-field.stream-field .sequence-controls label, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls label {
        margin-top: 7px;
        color: #666; }
      .content .stream-field.stream-field.stream-field.stream-field .sequence-controls button, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button {
        background: transparent;
        border: none; }
        .content .stream-field.stream-field.stream-field.stream-field .sequence-controls button::before, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button::before {
          color: #666; }
        .content .stream-field.stream-field.stream-field.stream-field .sequence-controls button:hover::before, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button:hover::before {
          color: #0f6665; }
      .content .stream-field.stream-field.stream-field.stream-field .sequence-controls h3, #content .stream-field.stream-field.stream-field.stream-field .sequence-controls h3 {
        flex: 1; }
    .content .stream-field.stream-field.stream-field.stream-field .help, #content .stream-field.stream-field.stream-field.stream-field .help {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0; }
    .content .stream-field.stream-field.stream-field.stream-field .stream-menu .toggle, #content .stream-field.stream-field.stream-field.stream-field .stream-menu .toggle {
      opacity: 0;
      visibility: hidden; }
    .content .stream-field.stream-field.stream-field.stream-field .sequence-container:hover > .stream-menu .toggle,
    .content .stream-field.stream-field.stream-field.stream-field .sequence-member:hover > .stream-menu .toggle, #content .stream-field.stream-field.stream-field.stream-field .sequence-container:hover > .stream-menu .toggle,
    #content .stream-field.stream-field.stream-field.stream-field .sequence-member:hover > .stream-menu .toggle {
      opacity: 1;
      visibility: visible; }
    .content .stream-field.stream-field.stream-field.stream-field .sequence-container > .stream-menu .toggle, #content .stream-field.stream-field.stream-field.stream-field .sequence-container > .stream-menu .toggle {
      top: 8px; }
    .content .stream-field.stream-field.stream-field.stream-field .fields label, #content .stream-field.stream-field.stream-field.stream-field .fields label {
      display: block;
      width: auto;
      float: none; }
    .content .stream-field.stream-field.stream-field.stream-field .fields .field, #content .stream-field.stream-field.stream-field.stream-field .fields .field {
      display: block;
      width: auto;
      float: none; }

.hallotoolbar.hallotoolbar {
  margin-top: 0;
  margin-left: 0; }
  .hallotoolbar.hallotoolbar.full {
    margin-left: 15px; }

/* The help text has slightly different rules on snippet pages */
.object .object-help.help {
  display: block;
  position: relative;
  width: 100%; }

.object-help ~ .multiple {
  padding-top: 0 !important;
  /* Needing to use important because .multiple .object is defined afterwards by page-editor.css */ }

.multiple {
  width: 100%;
  /* Need to make below a mixin */ }
  .multiple > li {
    border-radius: 3px;
    padding: 0; }
    .multiple > li > fieldset {
      padding: 0 20px; }
  .multiple .model_choice_field.select label {
    padding-top: 0.2em; }
  .multiple .controls {
    background: #e6e6e6;
    border: none;
    opacity: 1;
    visibility: visible;
    position: static;
    border-radius: 0;
    display: flex;
    justify-content: flex-end; }
    .multiple .controls label {
      margin-top: 7px;
      color: #666; }
    .multiple .controls button {
      background: transparent;
      border: none; }
      .multiple .controls button::before {
        color: #666; }
      .multiple .controls button:hover::before {
        color: #0f6665; }

.content .richtext, #content .richtext {
  border-radius: 6px;
  border-width: 1px 1px;
  font-family: Open Sans,Arial,sans-serif;
  margin: 60px 0 20px 0;
  padding: 1.8em 1.2em !important;
  -webkit-appearance: none; }

.object-help ~ fieldset > .fields > li > .field > .field-content > .input > .richtext {
  margin-top: 0px !important; }

.multi-field > fieldset > ul > li {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 1em 0; }

footer {
  background: #444;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 1em;
  width: 100%; }
  footer ul {
    padding: 0em; }
  footer footer .preview button, footer footer .preview .button {
    height: 3em; }
  footer .meta {
    background-color: #333;
    display: block;
    float: left;
    font-size: 0.85em;
    height: 2.2em;
    margin: -50px 0 0 -15px;
    padding: 7px 1.5%;
    position: absolute;
    text-align: left;
    width: 100%; }
  footer a[href$="delete/"] {
    background-color: #cd3238;
    opacity: 0.8; }
    footer a[href$="delete/"]:hover {
      background-color: #a4282d;
      opacity: 1; }
  footer a[href$="unpublish/"] {
    background-color: #404040;
    opacity: 0.8; }
    footer a[href$="unpublish/"]:hover {
      background-color: #333;
      opacity: 1; }

/* This should obvs be done by changing the base Wagtail colour palette so that it validates rather than hacking here */
header,
header.merged,
.tab-nav.merged,
.dropdown ul,
input[type=submit],
input[type=reset],
input[type=button],
.button, button,
.page-explorer .listing .index,
.breadcrumb {
  background-color: #0f6665; }

.button-secondary {
  color: #fafafa; }

.listing .button-secondary {
  color: #0f6665; }
  .listing .button-secondary:hover {
    background-color: #0f6665;
    color: #fff; }

.page-explorer .listing .index .privacy-indicator {
  color: #fff; }

.page-explorer .listing .index .button.bicolor {
  border: 1px solid #43b1b0; }

.messages .success {
  background-color: #014b4a; }

footer >
input[type=submit],
footer input[type=reset],
footer input[type=button],
footer .button, footer button {
  border: 0px; }

.modal-content >
button {
  background-color: #43b1b0; }
  .modal-content >
button:hover {
    background-color: #169291; }

a {
  color: #0f6665; }
  a:hover {
    color: #169291; }

header h1 {
  margin: 0.2em 0 0 0; }

header .col1 + .col9
>
h1 {
  /* for the user homepage */
  margin: -0.2em; }

header .listing.full-width td:first-child,
header .listing.full-width th:first-child {
  padding-left: 1.8em; }

header .messages ul li {
  padding: 20px; }

header .breadcrumb {
  border-bottom: 1px solid #358c8b;
  padding: 10px; }
  header .breadcrumb li {
    margin: -10px -10px -10px 10px;
    padding: 1.5em 1.3em; }
    header .breadcrumb li:first-child {
      margin: -10px;
      padding-left: 40px; }
    header .breadcrumb li:hover {
      background-color: #358c8b; }

header .button,
header .button.bicolor {
  border: 1px solid #43b1b0; }

.listing .handle {
  margin: -28px 0 0 -40px; }

.tab-nav li {
  margin-left: 2em; }
  .tab-nav li:first-child {
    margin-left: 4em; }
