.display {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  text-align: center;
  font-size: xx-large;
}

.green {
  color: green;
}

.red {
  color: red;
}

.white-out {
  color: rgba(255, 255, 255, 1);
}

.navbar-default {
  background-image: none;
  background-color: white;
  box-shadow: none;
  border-width: 0 0 1px 0;
  border-radius: 0px;
}

.navbar-notif {
  margin-right: 1em;
}

.brush-table {
  margin: auto;
  max-width: 50em;
}

.display-options select {
  padding: 5px;
  font-size: large;
}
