@import "/bootstrap/scss/bootstrap/_variables.scss";

.adjacency-matrix {

  position: relative;

  select {
    position: absolute;
    top:0;
    left:0;
  }

  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  text.active {
    fill: red;
  }

}