@import "/bootstrap/scss/bootstrap/_variables.scss";

.icicle {

  .node {
    stroke: $text-color;
    stroke-width: 2px;
  }

  .label {
    fill: $tooltip-bg;
    text-shadow: 0 1px 0 $tooltip-color, 1px 0 0 $tooltip-color, -1px 0 0 $tooltip-color, 0 -1px 0 $tooltip-color;
    text-anchor: middle;
  }

}
