/* Properly integrate Select2 with Bootstrap forms.
Taken from Deform <https://github.com/Pylons/deform/blob/master/deform/templates/select2.pt>.
*/

.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    min-width: 200px;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

/* List filters. */

.list_filter {
    margin-bottom: 20px;
}

.list_filter .select2-container {
    max-width: 300px;
}

/* Pagination */

.pagination button {
    font-size: 18px;
    font-weight: 600;
    padding: 2px 10px 2px 10px;
}

.pagination button + button {
    margin-left: 6px;
}
